body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background: #3e2723;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

div {
  padding: 20px;
}
@media (max-width: 768px) {

  nav {
    flex-direction: column;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

}